body {
  padding-top: 0px;
}

#fieldplayer0 {
  background-image: linear-gradient(to bottom, #d90306 0,#d90306 100%);
}
#fieldplayer1 {
  background-image: linear-gradient(to bottom, #d9d90d 0,#d9d90d 100%);
}
#fieldplayer2 {
  background-image: linear-gradient(to bottom, #201ed9 0,#201ed9 100%);
}
#fieldplayer3 {
  background-image: linear-gradient(to bottom, #28d920 0,#28d920 100%);
}

.dice {
  -webkit-backface-visibility : hidden;
  -webkit-transform-origin    : 50px 50px -50px;
  -webkit-transform-style     : preserve-3d;
  -webkit-transition          : all 1s ease-in-out;
  padding                     : 0;
}

.dice > li {
  position                    : absolute;
  height                      : 100px;
  width                       : 100px;
  background-size             : cover;
  border                      : #aaa 0.1em solid;
  border-radius               : 0.5em;
  list-style-type             : none;
}

.dice > li:nth-of-type(1) {
  -webkit-transform           : translateZ(0px);
  background-image            : url(img/die1.jpg);
}
.dice > li:nth-of-type(2) {
  -webkit-transform           : rotateY(90deg) translateZ(0px);
  -webkit-transform-origin    : left;
  background-image            : url(img/die2.jpg);
}
.dice > li:nth-of-type(3) {
  -webkit-transform           : rotateY(-90deg) translateZ(0px);
  -webkit-transform-origin    : right;
  background-image            : url(img/die3.jpg);
}
.dice > li:nth-of-type(4) {
  -webkit-transform           : rotateX(90deg) translateZ(0px);
  -webkit-transform-origin    : bottom;
  background-image            : url(img/die4.jpg);
}
.dice > li:nth-of-type(5) {
  -webkit-transform           : rotateX(-90deg) translateZ(0px);
  -webkit-transform-origin    : top;
  background-image            : url(img/die5.jpg);
}
.dice > li:nth-of-type(6) {
  -webkit-transform           : rotateX(180deg) translateZ(-100px);
  -webkit-transform-origin    : center;
  background-image            : url(img/die6.jpg);
}