@(message: String, session: play.mvc.Http.Session)
@skeleton(message.toString, session){
    <div class="row well-sm">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h1>sign in</h1></div>
                <div class="panel-body">
                    Responsible for this project:

                    @("mischett@htwg-konstanz.de")
                    @("fepeter@htwg-konstanz.de")
                </div>
            </div>
        </div>
    </div>
}