@(message: String, gc:potentialgames.controller.GameController, session: play.mvc.Http.Session)




    @skeleton(message.toString, session) {
    <div class="row well">
        <div class="row">
            <div class="col-md-12">
                <button type="button" id="roll" class="btn btn-primary">Roll</button>
                <button type="button" id="next" class="btn btn-primary">Next</button>
                <button type="button" data-toggle="modal" data-target="#modalOptions" class="btn btn-primary">Options</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 id="activeplayer">Player @(gc.getAmZug+1) turn</h4>
            </div>
            <div class="col-md-6">
                <h4 id="dicefield">@if(gc.getRolled){
                    You rolled a @gc.getSteps
                }else{
                    Please roll!
                }
                </h4>
            </div>
        </div>
    </div>
    <div class="row well-sm">
        <div class="col-md-12">
            <h5>Info-Box</h5>
            <div class="alert alert-info" id="statusmsg"></div>
            <div class="alert alert-success hidden" id="winmsg"></div>
        </div>
    </div>
    <div class="row well">
        <div class="row">
            <div class="col-md12">
                <h4>Gamefield</h4>
            </div>
        </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Homes</h5>
                    </div>
                </div>
                @for(i <- 0 until gc.getPlayercount){
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Player @(i+1)</p>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-primary home field" id="fieldplayer@i" type="button">@gc.getField.getHome(i).size</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div class="row"></div>
            <div class="row">
                <div class="col-md-12">
                    <div  id="way">
                        @for(i <- 0 until gc.getWay.length){
                            @if(gc.getWay()(i).getPlayer != null){
                                    <button id="fieldplayer@gc.getWay()(i).getPlayer.getPlayerNr" class="btn way@i field gamefield" type="button">
                                        Pin @(gc.getWay()(i).getPin.getPinNr + 1)
                                    </button>
                            } else {
                                <button id="@i" class="btn btn-danger way@i gamefield field disabled" type="button">#</button>
                            }
                        }
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-md-12">
                        <h5>Targets</h5>
                    </div>
                </div>
                @for(i <- 0 until gc.getPlayercount){
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-md-3">
                                <p>Player @(i+1)</p>
                            </div>
                            <div class="col-md-1">
                                <button class="btn btn-primary targets disabled" id="fieldplayer@i" type="button">@gc.getField.getTarget(i).size</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>


    <!-- Modal -->
    <div class="modal fade" id="modalOptions" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Options</h4>
                    <div class="alert alert-info hidden" id="optstatusmsg"></div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">Number of Players</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPlayers" id="2player" value="2" checked>
                                    2 Player
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPlayers" id="3player" value="3">
                                    3 Player
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPlayers" id="4player" value="4">
                                    4 Player
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Number of Pins</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPins" id="1pin" value="1" checked>
                                    1 Pin
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPins" id="2pin" value="2">
                                    2 Pins
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPins" id="3pin" value="3">
                                    3 Pins
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="radio">
                                <label>
                                    <input type="radio" name="numPins" id="4pin" value="4">
                                    4 Pins
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">Number of Fields</div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="fieldlength" class="form-control" placeholder="Number of Fields" value="20">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" id="savebutton" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <script src='@routes.Assets.at("javascripts/madnscript.js")'></script>
    <script type="text/javascript">
    var cometMessage = function(event) {
    console.log('Received event: ' + event)
    }
    </script>
    }
