@(message: String, form: play.data.Form[models.impl.Login])
@skeleton( message, null){
    @helper.form(routes.MainController.authenticate) {
        <div class="row well-sm">
            <div class="col-md-4 col-md-offset-4">



                <div class="panel panel-default">
                    <div class="panel-heading"><h1>sign in</h1></div>
                    <div class="panel-body">
                        @if(form.hasGlobalErrors) {
                            <div class="alert alert-danger">
                            @form.globalError.message
                            </div>
                        }
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="email" placeholder="Email" value="@form("email").value">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" name="password" placeholder="Password">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-default">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h2>or</h2></div>
                    <div class="panel-body">
                        <a href="/openID/auth/google"><img src='@routes.Assets.at("images/gp_login.png")' style="width: 182px; height: 40px;"></a>
                    </div>
                </div>
            </div>
        </div>
    }
}